@font-face{
  font-family: 'OdinRounded'; /*Odin Rounded Bold*/
  src: url(../fonts/odin_rounded_bold.otf);
}

@font-face{
  font-family: 'HighTide'; /*HighTide*/
  src: url(../fonts/hightide.otf);
}

@font-face{
  font-family: 'Dymaxion'; /*Dymaxion*/
  src: url('../fonts/dymaxion.otf');
}

@font-face{
  font-family: 'Open Sans Condensed';
  src: url('../fonts/open_sans_cond_light.ttf');
}

@font-face{
  font-family: 'Open Sans';
  src: url('../fonts/open_sans.ttf');
}

@font-face{
  font-family: 'Open Sans Semibold';
  src: url('../fonts/open_sans_semibold.ttf');
}

@font-face{
  font-family: 'Open Sans Light';
  src: url('../fonts/open_sans_light.ttf');
}

@font-face{
  font-family: 'Open Sans Light Italic';
  src: url('../fonts/open_sans_light_italic.ttf');
}

::-webkit-input-placeholder{
  color: #aeb1b8;
}

::-moz-placeholder{
  color: #aeb1b8;
}

:-ms-input-placeholder{
  color: #aeb1b8;
}

:-moz-placeholder{
  color: #aeb1b8;
}


ul,
h1,
h2,
body{
  margin: 0;
  padding: 0;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}

.header{
  height: 87px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 100%;
  vertical-align: middle;
  line-height: 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__menu{
  display: none;
}

.header__logo{
  font-family: 'OdinRounded', Arial, sans-serif;
  font-size: 42px;
  color: #fff;
  text-decoration: none;
  margin-left: 42px;
  display: inline-block;
}

.header__logo-dot{
  font-size: 84px;
  line-height: 42px;
}

.header__search{
  background-image: url(../img/search_icon.png);
  width: 30px;
  height: 31px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 25px 25px 0 0;
}

.main__container{
  display: flex;
  flex-wrap: wrap;
}

.main__bikes{
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 50%;
  // min-height: calc(100vh - 200px);
  height: 900px;
  text-align: center;
  color: #fff;
  display: flex;
}

.main__fixies{
  background-image: url(../img/fixies_image.jpg);
}

.main__cruisers{
  background-image: url(../img/cruisers_image.jpg);
}

.main__title-container{
  margin: auto;
}

.main__title_fixies{
  font-family: 'HighTide', Arial, sans-serif;
}

.main__title_cruisers{
  font-family: 'Dymaxion', Arial, sans-serif;
}

.main__title{
  font-size: 75px;
  line-height: 55px;
  font-weight: 100;
}

.main__sort{
  font-family: Open Sans Condensed, Arial, sans-serif;
  font-size: 50px;
  font-weight: lighter;
  line-height: 55px;
  margin: 0;
}

.main__btn{
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-size: 25px;
  line-height: 70px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 0 30px;
  margin-top: 83px;
}

.footer{
  min-height: 200px;
  background-color: #595f6f;
  display: flex;
}

.footer__left-panel{
  flex-basis: calc(50% - 86px);
  flex-shrink: 0;
  position: relative;
  padding: 35px 43px;
}

.footer__left-panel::after,
.footer__center-panel::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 2px;
  height: 75%;
  background-color: #4d5362;
}

.footer__logo,
.footer__text,
.footer__copyright{
  display: block;
  margin-bottom: 27px;
}

.footer__logo{
  font-family: 'OdinRounded', Arial, sans-serif;
  font-size: 28px;
  font-weight: lighter;
  color: #fff;
  text-decoration: none;
}

.footer__logo-dot{
  font-size: 56px;
}

.footer__text{
  font-family: 'Open Sans Semibold', Arial, sans-serif;
  color: #c3c3c3;
  font-size: 18px;
  line-height: 25px;
}

.footer__link{
  display: inline-block;
  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #c3c3c3;
  text-decoration: none;
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 27px;
}

.footer__copyright{
  font-family: 'Open Sans Semibold', Arial, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.footer__center-panel{
  position: relative;
  flex-basis: calc(30% - 150px);
  padding: 100px 75px;
}

.footer__menu{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.menu__leftside,
.menu__rightside{
  list-style: none;
}

.footer__menu-item{
  font-family: 'Open Sans Light', Arial, sans-serif;
  font-size: 18px;
  line-height: 35px;
  color: #c3c3c3;
  text-decoration: none;
}

.footer__right-panel{
  flex-basis: 20%;
  padding-top: 60px;
  text-align: center;
}

.footer__newsletter{
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  line-height: 35px;
  color: #fff;
}

.footer__input{
  width: 226px;
  line-height: 54px;
  text-align: center;
  border-radius: 5px;
  margin-top: 8px;
  background-color: #5d6271;
  border: 0;
  font-family: 'Open Sans Light Italic', Arial, sans-serif;
  font-size: 15px;
  color: #fff;
}

.footer__input:focus{
  outline: none;
}

.footer__social{
  margin-top: 42px;
  font-size: 0;
}

.footer__socialbtn{
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer__twitter{
  background-image: url(../img/twitter.png);
  width: 25px;
  height: 20px;
  margin-right: 30px;
}

.footer__google{
  background-image: url(../img/google.png);
  width: 28px;
  height: 26px;
  margin-right: 30px;
  margin-top: 2px;
}

.footer__facebook{
  background-image: url(../img/facebook.png);
  width: 14px;
  height: 25px;
}

@media screen and (min-width: 1920px){
  .header{
    height: 180px;
    line-height: 180px;
  }

  .header__logo{
    font-size: 83px;
  }

  .header__logo-dot{
    font-size: 128px;
    line-height: 84px;
  }

  .header__search{
    width: 61px;
    height: 63px;
    margin: 50px 50px 0 0;
  }

  .main__bikes{
    height: 1800px;
  }

  .main__title{
    font-size: 150px;
    line-height: 110px;
  }

  .main__sort{
    font-size: 100px;
    line-height: 110px;
  }

  .main__btn{
    font-size: 50px;
    line-height: 140px;
    border-radius: 10px;
    padding: 0 60px;
    margin-top: 163px;
  }

  .footer__logo{
    font-size: 56px;
  }

  .footer__logo-dot{
    font-size: 112px;
  }

  .footer__text{
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 40px;
  }

  .footer__link{
    font-size: 36px;
    line-height: 52px;
    margin-bottom: 80px;
  }

  .footer__copyright{
    font-size: 36px;
    line-height: 50px;
  }

  .footer__menu-item{
    font-size: 36px;
    line-height: 70px;
  }

  .footer__newsletter{
    font-size: 36px;
    line-height: 70px;
  }

  .footer__input{
    width: 452px;
    line-height: 108px;
    border-radius: 10px;
    margin-top: 16px;
    font-size: 30px;
  }

  .footer__socialbtn{
    width: 60px;
    height: 60px;
  }

  .footer__twitter{
    width: 50px;
    height: 40px;
    margin-right: 60px;
  }

  .footer__google{
    width: 56px;
    height: 52px;
    margin-right: 60px;
    margin-top: 4px;
  }

  .footer__facebook{
    width: 28px;
    height: 50px;
  }

}

@media screen and (max-width: 1000px){
  .footer__center-panel{
    padding: 100px 5px;
  }
}

@media screen and (max-width: 750px){
    .header{
      display: block;
    }

    .header__menu{
      display: inline-block;
      background-image: url(../img/menu.png);
      background-color: rgba(255, 255, 255, 0);
      border: none;
      width: 34px;
      height: 31px;
      margin-right: 6px;
      margin-left: 30px;
      padding: 0;
    }

    .header__menu:focus{
      outline: none;
    }

    .header__logo{
      font-size: 50px;
      margin-left: 0;
    }

    .header__logo-dot{
      font-size: 100px;
    }

    .header__search{
      float: right;
    }

    .main__container{
        flex-direction: column;
    }

    .main__bikes{
      height: 100vw;
    }

    .main__title{
      font-size: 80px;
    }

    .main__sort{
      font-size: 60px;
    }

    .main__btn{
      font-size: 30px;
      line-height: 80px;
      margin-top: 40px;
    }

    .footer,
    .footer__menu{
      flex-direction: column;
    }

    .menu__leftside,
    .menu__rightside{
      text-align: center;
      font-size: 37px;
      line-height: 76px;
    }

    .footer__left-panel{
      text-align: center;
    }

    .footer__logo{
      font-size: 54px;
      line-height: 40px;
    }

    .footer__logo-dot{
      font-size: 107px;
      line-height: 47px;
    }

    .footer__text{
      font-size: 33px;
      line-height: 47px;
    }

    .footer__link{
      font-size: 33px;
      line-height: 47px;
      display: inline;
    }

    .footer__copyright{
      font-size: 33px;
      line-height: 47px;
      margin-top: 30px;
    }

    .footer__left-panel::after,
    .footer__center-panel::after{
      content: "";
      position: absolute;
      left: 50%;
      top: auto;
      bottom: 0;
      right: auto;
      transform: translateX(-50%);
      width: 75%;
      height: 2px;
      background-color: #4d5362;
    }

    .footer__center-panel{
      padding: 30px 50px;
    }

    .footer__right-panel{
      padding-bottom: 40px;
    }

    .footer__newsletter{
      font-size: 35px;
      line-height: 70px;
      margin-bottom: 20px;
      display: inline-block;
    }

    .footer__input{
      display: block;
      margin: 0 auto;
      font-size: 30px;
      line-height: 70px;
      width: 65%;
    }
}

@media screen and (max-width: 450px){

    .main__title{
      font-size: 40px;
    }

    .main__sort{
      font-size: 30px;
    }

    .main__btn{
      font-size: 15px;
      line-height: 40px;
      margin-top: 20px;
    }

    .menu__leftside,
    .menu__rightside{
      font-size: 18px;
      line-height: 38px;
    }

    .footer__left-panel{
      text-align: center;
    }

    .footer__logo{
      font-size: 27px;
      line-height: 20px;
    }

    .footer__logo-dot{
      font-size: 54px;
      line-height: 24px;
    }

    .footer__text{
      font-size: 17px;
      line-height: 24px;
    }

    .footer__link{
      font-size: 17px;
      line-height: 24px;
    }

    .footer__copyright{
      font-size: 17px;
      line-height: 24px;
    }

    .footer__center-panel{
      padding: 15px 25px;
    }

    .footer__right-panel{
      padding-bottom: 20px;
    }

    .footer__newsletter{
      font-size: 18px;
      line-height: 35px;
    }

    .footer__input{
      font-size: 15px;
      line-height: 35px;
    }
}
